
   @media (min-width: 700px) {
            h1::before {
                content: "Welcome to the Training site!";
                margin-left: 15px;
                        }

           .Pict::before {
	                    float:left;
                        margin-left:5px;
                        width="5%";
                        height="10%";
                        padding-right:10px
	                    }
            }

    @media (max-width: 699px) {
        h1::before {
                    content: "Training!";
                    }
                               }

	@media (min-width: 700px) {
                body {
                    background-color:#0970b5;
                    color: lightblue;
                }
            }

    @media (max-width: 699px) {
                body {
                    background-color: #0970b5;
                    color: lightblue;
                }
            }
    @media print {
                    .screen-only {
                        display: none;
                    }
            }

     .Pict {
            float:right;
            overflow:hidden;
            margin-left:5px;
            width="50%";
            height="100%";
            padding-right:25px
           }
    .summary    {
                    margin-left: 25px;
                    margin-right: 25px;
                }
    }

	.title {color: #154a2b}


    input[type=text] {
                        background-color: red;
                     }
    input[type=number] {
                        background-color: green;
                        }
    button  {
                width: 200px;
                height: 50px;
                font-size: 24px;
                background-color: gray;
            }
    button:hover    {
                        background-color: green;
                    }
    p::selection {
        color: red;
        background-color: yellow;
    }

    .vids {
                width: 600px;
                height: 333px;
                margin-left: 70px;
                margin-bottom: 35px;