.resumeHeader {
                background-color:#30302e;
                 color: white;
                 padding: 5px;
                 margin-left: 10px;
                 margin-right: 10px;
              }
.resumeHeader-left  {
                    background-color:#30302e;
                    color: white;
                    padding: 5px;
                    text-align: left;
                    margin-left: 10px;
                    width: 100%;
                }
.resumeHeader-right  {
                    background-color:#30302e;
                    color: white;
                    text-align: right;
                    margin-right; 5px;
                    width: 100%;
                }
.resumeHeader-table  {
                    background-color:#30302e;
                    color: white;
                    text-align: right;
                    padding: 0px;
                    margin-right: 20px;
                    width: 100%;
                    height: 30px;
                    border="0";
                }
div {   margin: 10px;
    }
.mid {
        align= center;
}
.end {
        color: green;
        align="right";
}
.job-requirements, ul, li {
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
}
.Skills  {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: 25px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.Skills-row {
                background-color: lightblue;

            }
.p1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 35px;
}
.p2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 35px;
}
.p3 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 35px;
}
.Summary-setup > li  {
                    font-size: 14px;
                    margin-left: 25px;
                    margin-right: 25px;
                    margin-top: 10px;
                 }
 h5 {
        margin-left: 25px;
    }
