	html {
		overflow-y:scroll;
	}
	body {

		font-family:Arial;
		font-size: 15px;
	}
    header {
		height:60px;
		margin-bottom:20px;
		overflow:hidden;
	}


	.container {
		background-color:#30302e;
        color: lightblue;
		width:"100%";
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.title  {
	            color: #154a2b;
	            margin-right: 10px;
	            margin-top: 10px;
	            margin-left: 85px;
	        }

    .Pict   {
                float:right;
                margin-right:10px;
            }
    .expertise {
            float:left;
            font-size:30px;
            font-weight:700;
            color; yellow;
            margin-left=25px;
            /*line-height:10px;*/
        }
    .expertise-title    {
                            float:center;
                        }
    .main-heading   {
                        color: 154a2b;
                    }
    .login  {
                background-color:#0970b5;
                margin-left: 25px;
                padding: 5px;
            }
    .link   {
                margin-left: 25px;
            }
