	@media {
                body {
                    background-color:#0970b5;
                    color: lightblue;
                }
            }
	html {
		overflow-y:scroll;
	}
	body    {
                font-family:Arial;
                font-size: 15px;
	        }
    header  {
                height:60px;
                margin-bottom:20px;
                overflow:hidden;
        	}
	.container {
                   background-color:#30302e;
                   color: lightblue;
                   width:"100%";
                   margin-bottom: 10px;
                   margin-top: 10px;
	}
	.title  {
	            color: lightblue;
	            font-size: 35px;
	            margin-right: 10px;
	            margin-top: 10px;
	            margin-left: 225px;
	        }
    .Pict   {
                float:right;
                margin-right:10px;
            }
    .expertise {
                    float:left;
                    font-size:30px;
                    font-weight:700;
                    color; yellow;
                    margin-left=25px;
        }
    .expertise-title    {
                            float:center;
                        }
    .main-heading   {
                        color: 154a2b;
                    }
    .login  {
                background-color:#185178;
                margin-left: 25px;
                margin-right: 850px;
                padding: 15px;
            }
    .Demographics   {
                        background-color:#185178;
                        margin-left: 5px;
                        margin-right: 25px;
                        padding: 15px;
                    }
    .linkage   {
                margin-left: 25px;
                color: white;
            }
    .btn btn-danger {
                      background-color:#687278;
                    }