	html {
		overflow-y:scroll;
	}
	body {

		font-family:Arial;
		font-size: 15px;
	}
    header {
		height:60px;
		margin-bottom:20px;
		overflow:hidden;
	}
	#container {
		background-color: #d93b30;  /*#292929;*/
		margin:0 auto;
		width:860px;
		margin-bottom: 20px;
		margin-top: 30px;

	/* Logo */
	.title {color: #154a2b}

	.Pict {
		float:right;
		/*overflow:hidden;*/
		margin-left:5px;
		width="5%";
		height="10%";
		padding-right:10px
		/*display:none;*/
	}
	h1 {
		font-size:25px;
		font-weight:1000;
		color: #cccccc;
		line-height:40px;
	}
    h2 {
            font-size:15px;
            font-weight:900;
            color: #d93b30;
            /*line-height:10px;*/
        }
    .main-heading { color: 154a2b; }
